<!DOCTYPE HTML>
<html>
	<title>Yelpbook</title>
	<head>
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<link rel="stylesheet" href="/stylesheet/landing.css">
		
	</head>
	<body>
		<div id="landing-header">
			<h1>Welcome to Yelpbook!</h1>

			<a class="btn btn-large btn-success" href="/books">View all books</a>
	
		</div>
		
		<ul class="slideshow">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
	
		</ul>

	</body>
</html>


